body{

    background-color:honeydew;
    margin:0;
    padding:0;
    display: flex;
    justify-content: center;
    height:100vh;
    align-items: center;
}

#mypassword{

    padding: 15px;
    border-radius: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    border-color:blueviolet;
    background-image: linear-gradient(90deg, rgb(231, 150, 241), rgb(21, 236, 182));
}

#status{

    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    text-align: center;
  text-align: justify;
  display: flex;
  color:green;
  margin-right:25px;
}

#catLeftEye{
    animation: leftEye ease-in-out;
} 
@keyframes initialLeftEye {
    from {cx: 20px;}
    to {cx: 20px;}
    }

  @keyframes finalLeftEye {
    from {cx: 23px;}
    to {cx: 23px;}
  }
#catRightEye{
    animation: rightEye 2s ease-in-out ;
    transition:5s ease-in;
} 

@keyframes initialRightEye {
    from {cx: 42px;}
    to {cx: 42px;}
    }
  @keyframes finalRightEye {
    from {cx: 44px;}
    to {cx: 44px;}
  }